*{
	margin: 0;
	padding: 0;
	border: 0;
}

.custom{
	padding: 0 35% 0 35%;
	transition-property: padding;
	transition-duration: 1s;
}

.custom ion-icon{
	font-size: 2.5rem;
	color: #fff;
}

.custom .navbar-brand{
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.custom .nav-item{
	font-weight: bold;
	padding: 10% 0 10% 0;
	width: 100%;
	color: #fff;
	transition-property: background-color,color;
	transition-duration: 1s;
}

.nav-item:hover{
	color: rgb(0,53,219);
	background-color: rgba(255,255,255,0.8);
}

@media only screen and (max-width: 991px){
	.custom{
		padding: 1% 5% 1% 5%;
	}
	.custom .nav-item{
		padding: 0.5rem;
		width: fit-content;
	}
	.custom .navbar-brand{
		position: relative;
		top: 0;
		left: 0;
	}
}

/*body*/

h1{
	font-weight: bold;
	font-size: 3rem;
	color: rgb(0,53,219);
	margin-bottom: 3rem;
}
h2{
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 2rem;
}
h3{
	font-size: 1rem;
}
p, label{
	font-size: 0.9rem;
	color: #aaa;
}
main img{
	position: static;	
}

.bgc{
	background-color: rgb(0,53,219);
}
#main_abc{
	height: 40%;
}
.m-b>*{
	margin-bottom: 1rem;
}
.show>*{
	width: 10%;
}
.cr-custom{
	height: 30rem;
}
.products > .row > div {
	text-align: center;
	width: 50%;
	margin: 5px;

}
.products > .row > div > h1{
	font-size: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.products > .row > div > img{
	position: relative;
}
.w-fit{
	overflow: hidden;
	width: fit-content !important;
}
.h-fit{
	height: fit-content !important;
}
@media only screen and (max-width: 768px){
	#main_abc{
		height: 40%;
	}
	.cr-custom{
		height: 35rem;
	}
}
@media only screen and (max-width: 576px){
	.cr-custom{
		height: 40rem;
	}
}
@media only screen and (max-width: 320px){
	.cr-custom{
		height: 45rem;
	}
}

/*Button*/
.btn-cus{
	position: absolute;
	bottom: 0;
	left: 0;
}